body {
  background: #b9afa2;
  background-image: url("C:\Users\zzura\Downloads\PXL_20230424_234141828.jpg");
}

#homepage{
  color: antiquewhite;
  
  backdrop-filter: blur(1px);
}

h2.group {
  color: #bb6c73;
  font-weight: bold;
  font-size: 42px;
  font-family: 'Bangers';
  background-color: black;
  backdrop-filter: blur(1px);
  text-align: center;
  margin-top: 40px;
}

.ui.card {
  text-align: center;
  outline: 2px solid rgb(143, 127, 76);
  
}

.ui.card:hover{
  box-shadow: inset 200px 0 100px 0 #3b1a1d;
  transition: ease-out 0.6s;
}

h3.loading2{
  text-align: center;
}

.ui.card.button{
  cursor: pointer;
  background-color: black;
  color: antiquewhite;
}